<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="ICN_NumberSearchEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AYORINDE\AYORINDE;Initial Catalog=ICN_NumberSearch;User ID=sa;Password=password123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>